<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test igorya</title>
    <style>
        @font-face {
         font-family: Arkhip; /* Имя шрифта */
         src: url(/font/Arkhip_font.ttf); /* Путь к файлу со шрифтом */
        }
    </style>
    @{import('default.css', 'default.js', 'favicon.ico')}
</head>
<body>
    
       
        @{body}
     
  

</body>
</html>